html, body, a, ul {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

li {
  display: inline-block;
  padding: 10px; }

#nav {
  width: 100%;
  position: absolute;
  background-color: #A0D468;
  margin: 0;
  height: 40px;
  color: white;
  display: block;
  text-align: center;
  list-style-type: none;
  vertical-align: middle; }

.menu-ico {
  float: right;
  display: none;
  padding: 12px;
  padding-bottom: 13px;
  background-color: #5B8B27; }

.menu-text {
  color: #FFF;
  float: left;
  font-weight: bold;
  line-height: 40px;
  padding-left: 20px;
  position: absolute;
  vertical-align: middle;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.menu-item-container {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  overflow: visible;
  height: auto; }

.menu-item {
  top: 0;
  left: 0;
  z-index: 5;
  display: inline-block; }
  .menu-item:hover, .menu-item:active {
    background-color: #79AA56; }

.wrapper {
  margin: 0;
  background: #333;
  padding-top: 50px !important;
  padding: 10px; }

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

@media all and (max-width: 699px) {
  p {
    margin: 0; }

  .menu-item-container {
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
    display: none;
    overflow: visible;
    height: auto; }

  nav {
    z-index: 1000;
    margin-bottom: 30px; }

  .menu-ico {
    display: block; }
    .menu-ico:hover, .menu-ico:active {
      background-color: #79AA56; }

  .menu-item {
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    text-align: left;
    margin-left: -40px;
    padding-left: 60px;
    background-color: #5B8B27; }
    .menu-item:hover, .menu-item:active {
      background-color: #79AA56; }

  .content {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important; } }
