<div class="content">
	<div class="energyContent">
	  <span class="energyTitle lineheight">Site Map</span>
	    
	    <h3>Main Pages</h3>
	    <ul> 
	        <li><a href="/">Home</a></li>
	        <li><a href="/about">About Us</a></li>
	        <li><a href="/solutions">Solutions</a></li>
	        <li><a href="/contact">Contact Us</a></li>
	    </ul>
	    <h3>Solutions</h3>
	    
	    <ul>
	        <li><a href="/solutions/solar">Solar</a></li>
	        <li><a href="/solutions/biofuel">Biofuel</a></li>
	        <li><a href="/solutions/wind">Wind</a></li>
	        <li><a href="/solutions/geothermal">Geothermal</a></li>
	    </ul>
	    
	    <h3>Miscellaneous</h3>
	    <ul> 
	        <li><a href="/sitemap">Site Map</a></li>
	        <li><a href="/siteinfo">Site Info</a></li>
	        <li><a href="/developers">Developers</a></li>
	    </ul>
	</div>
</div>