<div class="content">
	<a href="/solutions">
		<div class="solutions-back">&laquo; Back</div>
	</a>
	<div class="energyContent">
	  <span class="energyTitle">Biofuel</span>
	  <br />
	  <iframe class="left" width="380" height="285" src="http://www.youtube.com/embed/99ZYIECx1Vw" frameborder="0" allowfullscreen></iframe>
	  <p>Although it has been promoted mostly as a fuel for diesel-powered vehicles, biodiesel is perfectly suited as an additive or replacement fuel in a standard oil-fired furnace or boiler. When used as a heating fuel, biodiesel is sometimes referred to as " biofuel" or "bioheat." Made from new and used vegetable oils or animal fats, this fuel also has the advantage of being biodegradable, nontoxic and renewable</p><p>In the chart below, you can see how many <i>millions</i> of gallons of biofuel are produced in each individual state. The legend ranges from one million gallons, all the way up to the state know for producing the most biofuel, Texas, with 408 million gallons. (If the state is blank, that state does not produce a large amount of biofuels.)</p>
		<div class="wrap">
			<div id="chart_div"></div>
		</div>
	</div>
	<span class="energyIcon" id="biofuel-icon"></span>
</div>