<div class="content">
  <div class="energyContent">
    <span class="energyTitle lineheight">Solutions</span>
    <br />
    <img src="assets/earth.png" class="earth" alt="">
    <p>There are <i>TONS</i> of opportunies to have a greener home. Prices may look steep at first site, but state government often give green energy solutions at a much more reasonable rate. The savings you rack up will also be an awesome upgrade! Whether you are using a complete solar energy system, or geothermal solutions, you will be saving the environment, as well as your electric and heating bill!</p>
      <p>There are <i>TONS</i> of opportunies to have a greener home. Prices may look steep at first site, but state government often give green energy solutions at a much more reasonable rate. The savings you rack up will also be an awesome upgrade! Whether you are using a complete solar energy system, or geothermal solutions, you will be saving the environment, as well as your electric and heating bill!</p>
      <h2 class="needspace">Find a solution that is best for you!</h2>
    <a href="/solutions/solar">
      <div class="solutions-icon">
        <span id="solar-icon"></span>
        <h1>Solar</h1>
      </div>
    </a>
    <a href="/solutions/biofuel">
      <div class="solutions-icon">
        <span id="biofuel-icon"></span>
        <h1>Biofuel</h1>
      </div>
    </a>
    <a href="/solutions/wind">
      <div class="solutions-icon">
        <span id="wind-icon"></span>
        <h1>Wind</h1>
      </div>
    </a>
    <a href="/solutions/geothermal">
      <span class="solutions-icon">
        <span id="geothermal-icon"></span>
          <h1>Geothermal</h1>
      </span>
    </a>
    <p class="hidden">Green Energy Solutions Homeowners Website BPA Team Business Professionals America</p>
  </div>
</div>