<div class="content">
	<div class="energyContent">
	  <span class="energyTitle lineheight">Developers</span>
	    
	    <p>Our website design team has accomplished magic the past two years. Our journey through BPA with competitions has opened a world of opportunities for us. We have learned so much, and are ready to take on any challenge that we are faced with.</p>
	    
	    <img class="devs" src="assets/websitedesignteam.jpg" alt="" />
	    
	    <small>Ohio 1st Place Website Design Team 2013. Pictured is Tyler Michael, Left; Ty Strong, Center; Bryan Weston, Right.</small>
	    <p><span class="heading">Hello!</span> My name is Tyler Michael, and I am one of the creators of this fine website. To be specific, I am the back-end coder using Ruby on Rails, and PHP. Now a little bit about me: I am a Senior at D. Russel Lee, and I <i>love</i> to code. Whether it be UI/UX languages to the nitty-gritty backend stuff, I strive to write useful, elegant and clean code.</p>
	    
	    <p>Ty Strong is a senior IT student at D. Russel Lee. He is currently employed as a Junior Webmaster at a website maintenance firm. He serves as his class, chapter, and regional President as well as Head Drummer at his high school.</p>
	    
	    <p>Bryan Weston is a senior IT student at D. Russel Lee. He loves working on computers and helping his friends. He spends his free time playing a multitude of musical instruments. He always thinks outside of the box and strives to bring joy and creativity into everyone’s lives.</p>
	</div>
</div>