<div class="content">
	<div class="energyContent">
	  <span class="energyTitle lineheight">Site Information</span>
	    
	    <p>This website is an entry for Business Professionals of America (BPA) contest <b>Web Site Design Team (#46)</b>. We utilize HTML5, CSS3, Javascript/Jquery, XML, MySQL, and even Ruby on Rails. We used absolutely <i>NO</i> templates, to demonstrate our wide knowledge of website development.</p>
	    
		<h3>Contest Information</h3>
		<table cellspacing="0">
		    <tr>
		        <th>Contest</th><th>Chapter Name</th>
		        <th>Region</th><th>Theme</th><th>Year</th>
		        <th>Location</th>
		    </tr>
		    <tr>
		        <td>Web Site Design Team (55)</td>
		        <td>Butler Tech / D. Russel Lee</td>
		        <td>Region 17</td>
		        <td>Tour Indy</td><td>2012-2013</td>
		        <td>Hamilton, OH</td>
		    </tr>
		</table>


		<h3>Team Members</h3>

		<table cellspacing="0">
		    <tr>
		        <th>Name</th><th>Title</th>
		        <th>Contestant ID</th>
		    </tr>
		    <tr>
		        <td>Tyler Michael</td>
		        <td>Web Programmer and Rails Developer</td>
		        <td>#06-0061-0019</td>
		    </tr>
		    <tr>
		        <td>Ty Strong</td>
		        <td>Web/Graphic  Designer, and Team Manager</td>
		        <td>#06-0061-0021</td>
		    </tr>
		    <tr>
		        <td>Bryan Weston</td>
		        <td>Content Manager/Writer and Web Host</td>
		        <td>#06-0061-0022</td>
		    </tr>
		</table>

		<h3>Credits/Citations</h3>
		<p>Below are many helpful websites that have provided us useful resources.</p>
		<table cellspacing="0">
		    <tr>
		        <th>Website Address</th>
		        <th>Credited Content(s)</th>
		    </tr>
		    <tr>
		        <td><a href="http://www.visitindy.com/" target="_blank">Visit Indy</a></td>
		        <td>History and Restaurant Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.bpa.org/" target="_blank">BPA</a></td>
		        <td>BPA Information and Images.</td>
		    </tr>
		    <tr>
		        <td><a href="http://http://media.io/" target="_blank">Media</a></td>
		        <td>Easy Audio Conversions.</td>
		    </tr>
		    <tr>
		        <td><a href="http://soundjax.com/" target="_blank">Soundjax</a></td>
		        <td>Game Sound Clips.</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.eiteljorg.org/" target="_blank">Eiteljorg Museum</a></td>
		        <td>Eiteljorg Museum Image and Information.</td>
		    </tr>
		    <tr>
				<td><a href="http://www.indianapolismotorspeedway.com/" target="_blank">Indianapolis Speedway</a></td>
		        <td>Indianapolis Motor Speedway Image and Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.childrensmuseum.org/" target="_blank">Childrens' Museum</a></td>
		        <td>Children's Museum Image and Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.lucasoilstadium.com/ " target="_blank">Lucas Oil Museum</a></td>
		        <td>Lucas Oil Stadium Image and Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://indyzoo.com/SitePages/home.aspx" target="_blank">Indianapolis Zoo</a></td>
		        <td>Indianapolis Zoo Image and Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.eaglecreekpark-fdn.org/" target="_blank">Eagle Creek Park</a></td>
		        <td>Eagle Creek Park Image and Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.butler.edu/hinkle-campaign/preserve-hinkle/about-hinkle-fieldhouse/" target="_blank">Butler University</a></td>
		        <td>Hinkle Fieldhouse Image and Information</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.milb.com/content/page.jsp?ymd=20050630&amp;content_id=41163646&amp;sid=t484&amp;vkey=team1" target="_blank">Indianapolis Indians</a></td>
		        <td>Victory Field Image and Information</td>
		    </tr>
		    <tr>
		        <td><a href="http://www.bankerslifefieldhouse.com/" target="_blank">Bankers Life Fieldhouse</a></td>
		        <td>Bankers Life Fieldhouse Image and Information.</td>
		    </tr>
		    <tr>
		        <td><a href="http://feed.mikle.com/en/" target="_blank">Feed Wind</a></td>
		        <td>RSS Feed widget generator.</td>
		    </tr>
		     <tr>
		        <td><a href="http://www.google.com/analytics/" target="_blank">Google Web Analytics</a></td>
		        <td>Google Analytics, and Google Translate Gadget.</td>
		    </tr>
		</table> 
	</div>
</div>