<div class="content">
        <div id="titles">
            <span id="title" data-el="solar">
                <span class="question">Solar Energy</span>
            </span>
            <span id="title" data-el="biofuel">
                <span class="question">Biofuel</span>
            </span>
            <span id="title" class="" data-el="wind">
                <span class="question">Wind Energy</span>
            </span>
            <span id="title" data-el="geothermal">
                <span class="question">Geothermal Energy</span>
            </span>
            <br />
            <span id="question">
                <span class="question">What is</span>
                <br />
                <span class="question">UGO Greener?</span>
            </span>
            <br />
        </div>
        <br />
        <p id="answer">
            <span id="para" class="activePara">We are a small business supplying green energy solutions to homeowners across the nation. Using wind, earth, and the sun to our advantage, we are making the planet a cleaner place; one home at a time.</span>
            <span id="para" data-el="solar">Energy derived from the Sun's radiation. Passive solar energy can be exploited through architectural design, as by positioning windows to allow sunlight to enter and help heat a space. Active solar energy involves the conversion of sunlight to electrical energy, especially in solar (photovoltaic) cells.</span>
            <span id="para" data-el="biofuel">Fuel produced from renewable resources, especially plant biomass, vegetable oils, and treated municipal and industrial wastes. Biofuels are considered neutral with respect to the emission of carbon dioxide because the carbon dioxide given off by burning them is balanced by the carbon dioxide absorbed by the plants that are grown to produce them. The use of biofuels as an additive.</span>
            <span id="para" data-el="wind">Earth Sciences / Physical Geography) a current of air, sometimes of considerable force, moving generally horizontally from areas of high pressure to areas of low pressure See also Beaufort scale Related adj aeolian. can also result in cleaner burning with less emission of carbon monoxide and particulates. to petroleum-based fuels.</span>
            <span id="para" data-el="geothermal">Relating to the internal heat of the Earth. The water of hot springs and geysers is heated by geothermal sources. Geothermal energy is power generated from natural steam, hot water, hot rocks, or lava in the Earth's crust. In general, geothermal power is produced by pumping water into cracks in the Earth's crust and then conveying.</span>
        </p>
        <div class="ribbon solar">
            <h2 data-el="solar"></h2>
        </div>
        <div class="ribbon biofuel">
            <h2 data-el="biofuel"></h2>
        </div>
        <div class="ribbon wind">
            <h2 data-el="wind"></h2>
        </div>
        <div class="ribbon geothermal">
            <h2 data-el="geothermal"></h2>
        </div>
<div class="images">
        <div class="image" data-el="solar" id="solar"></div>
        <div class="image" data-el="biofuel" id="biofuel"></div>
        <div class="image" data-el="wind" id="wind"></div>
        <div class="image" data-el="geothermal" id="geothermal"></div>
    </div>
        <div class="video">
            <h2>Our Videos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <iframe class="video1" width="380" height="285" src="http://www.youtube.com/embed/99ZYIECx1Vw" frameborder="0" allowfullscreen></iframe>
            <iframe width="380" height="285" src="http://www.youtube.com/embed/99ZYIECx1Vw" frameborder="0" allowfullscreen></iframe>
            <a href="solutions.html">See More Videos &raquo;</a>
        </div>
    </div>